body {
    font-family: Arial, sans-serif;
    margin: 20px;
    font-size: large;
    background: #ccc;
}

table {
    width: 100%;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
}

th {
    background-color: #fff;
}

input {
    font-size: large;


}

button {
    margin-left: 10px;
    background: #3beb58;
    font-size: large;
}